html {
    scroll-behavior: smooth;
    font-size: 1rem;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
  }
  /*--- first nav--- */
  .first_nav {
    width: 100%;
    display: flex;
    border: 1px solid lightgray;
  }
  #social_media {
    display: flex;
    background: #2d3092;
    width: 17%;
    padding: 1rem;
  }
  .containerfa {
    width: 100%;
  }
  #social_media .fa {
    padding: 0.3rem;
    margin-left: 10%;
    color: white;
    cursor: pointer;
  }
  .help_email {
    padding: 1.2rem;
    width: 54%;
  }
  .help_email a,
  .login_orregister a {
    padding: 1rem;
    color: gray;
    font-weight: bold;
    text-decoration-line: none;
  }
  .login_orregister {
    padding: 1rem;
  }
  .help_email .fa,
  .login_orregister .fa {
    color: #2d3092;
    margin-right: 0.6rem;
  }
  /* ---- second nav---- */
  .mainnav_container {
    display: flex;
    width: 100%;
    background: white;
    z-index: 2;
  }
  .heading {
    background: #f4f4f4;
    width: 18%;
    padding: 0.6rem;
  }
  .heading .fa {
    color: #2d3092;
  }
  .second_nav ul {
    display: flex;
    padding: 1rem;
  }
  
  .second_nav li {
    list-style: none;
  }
  .second_nav a {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    box-shadow: -1px 15px 4px 7px rgba(242, 242, 242, 0.6);
  }
  
  
  input {
    outline: none;
  }
  
  
  
  

  
  
  /*----css code of the top button-----*/
  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 64px;
  }
  #myBtn:hover {
    background-color: #111627;
  }
  /* ----loginpage--- */
  .login_page {
    background: #030431;
    width: 80%;
    margin: 12rem auto;
  }
  .form {
    padding: 10rem;
    text-align: center;
  }
  .login_page input {
    padding: 1rem;
    width: 50%;
  }
  .register_form {
    display: none;
  }
  .input-group input {
    text-align: center;
  }
  .login_register {
    width: 55%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    background: #2d3092;
    border: none;
    color: white;
    cursor: pointer;
    transition: 1.1s;
  }
  .login_register[type="button"] {
    width: 55%;
  }
  .login_register:hover {
    background: lightblue;
    color: black;
    transition: 1.1s;
  }
  .input-group-addon {
    margin-top: -31px;
    margin-left: 46%;
  }
  input::placeholder {
    font-size: 1.2rem;
    text-align: left;
  }
  .login_page h1 {
    line-height: 2rem;
    color: white;
  }
  .message {
    color: white;
  }
  .message a {
    color: lightblue;
    text-decoration-line: none;
    font-weight: bold;
  }
  .login_form span {
    color: white;
  }
  .login_form a {
    color: lightblue;
    text-decoration-line: none;
    font-weight: bold;
  }

  #display {
    color: orange;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .txtb textarea {
    width: 785px;
    height: 243px;
    margin: 0px;
    border: 1px solid lightgray;
  }
  .txtb {
    padding: 1.5rem;
    margin-left: -1.1rem;
  }
  .txtb input {
    padding: 1.2rem;
    width: 352px;
    border: 1px solid lightgray;
  }
  
  
  